@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

body {
    font-family: var(--fonte2);
    background-color: white;

}

header {
    font-family: var(--fonte1);
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

header p a {
    font-weight: bold;
    color: white;
}

section {
    margin-left: 20px;
}

section p {
    margin: 15px;
}

.artimg {
    color: white;
    padding: 50px;
}

.artimg p {
    background-color: rgba(0, 0, 0, 0.500);
    padding: 15px;
    width: 200px;
}

article {
    margin: 50px 0;
}

#art2 {
    background: black url("imagens/background001.jpg") center center no-repeat fixed;
    background-size: cover;
}

#art4 {
    background: black url("imagens/background002.jpg") center center no-repeat fixed;
    background-size: cover;
}

footer {

}